<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="../../index3.html" class="brand-link">
    <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">Incidencias</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/img/vivi.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Viviana Valente</a>
      </div>
    </div>


    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Proyectos -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/proyecto">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              Proyectos
            </p>
          </a>
        </li>
        <!-- Incidencias -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/incidencia">
            <i class="nav-icon fas fa-edit"></i>
            <p>
              Incidencias
            </p>
          </a>
        </li>
        <!-- Usuarios -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/usuario">
            <i class="nav-icon fas fa-user"></i>
            <p>
              Usuarios
            </p>
          </a>
        </li>

        <!-- perfiles -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/perfil">
            <i class="nav-icon fas fa-user"></i>
            <p>
              Perfiles
            </p>
          </a>
        </li>


        <!-- Reportes -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Reportes
            </p>
          </a>
        </li>

        <!-- Prueba -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/">
            <i class="nav-icon far fa-image"></i>
            <p>
              Mantenimiento
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>