<div class="card bg-dark text-white m-3">
  <div class="card-header">
    <h3 class="card-title">{{titulo}}</h3>
  </div>
  <form class="form-horizontal">
    <div class="card-body">
      <div class="form-group row">
        <label for="nombre" class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="nombre" 
          [(ngModel)]="proyecto.nombre" name="nombre"  placeholder="Ingrese el Nombre">
        </div>
      </div>
    </div>
       
    <div class="card-footer">
      <button class="btn btn-primary" (click)='agregar()' *ngIf="!proyecto.id else elseBlock">Crear</button>      
      <ng-template #elseBlock>
        <button class="btn btn-primary" (click)='actualizar()'>Editar</button>
      </ng-template>
      <button type="submit" class="btn btn-default float-right" [routerLink]="['/proyectos']">Cancel</button>
    </div>    
  </form>
</div>
